#body_igra {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

#igra {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

table th, table td {
    padding: 0;
    border: 1px solid black;
    width: 45px;
    height: 40px;
    text-align: center;
    font: 20px Arial, sans-serif;
    box-sizing: border-box;
}
.sve_celije {
    line-height: 2rem;
}

.slika_celija {
    display: block;
    margin: auto;
}

.dugme_tabela {
    width: 100%;
    height: 100%;
    font-size: 25px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

table tr th:first-child,
table tr th:last-child {
    width: 100px;
}

#pozadina_prozora {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}
#prozor {
    background-color: white;
    padding: 20px;
}
#prozor .dugme_tabela {
    width: 250px;
    margin: 10px 0;
    padding: 10px;
    border: none;
}

#suma-1 td, #suma-2 td, #suma-3 td {
    text-align: center;
    padding: 0;
}

#red-0, #suma-1, #suma-2, #suma-3 {
    background-color: yellow;
}

#poeni {
    background-color: black;
    color: white;
}


@media(max-width: 580px) {
    html, #body_igra{
        margin: 0;
        padding: 0;
        height: 100%;
        overflow: hidden;
    }

    #igra {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    table {
        width: 100%;
        height: 100%;
        table-layout: fixed;
        border-collapse: collapse;
    }

    table tr {
        height: calc(100% / 18);
    }

    table th {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font: 12px Arial, sans-serif;
        text-align: center;
        box-sizing: border-box;
    }

    table tr:last-child th:last-child,
    table td,
    .dugme_tabela {
        font-size: 16px;
    }

    table th, table td {
        width: auto;
        height: auto;
        box-sizing: border-box;
    }

    table tr th:first-child,
    table tr th:last-child {
        width: 70px;
    }

    table tr th:not(:first-child):not(:last-child),
    table tr td:not(:last-child) {
        width: calc((100% - 140px) / 10);
    }

    #prozor .dugme_tabela {
        width: 180px;
    }
}

@media(max-width: 480px) {
    table tr th:first-child,
    table tr th:last-child{
        width: 50px;
    }

    table tr th:not(:first-child):not(:last-child),
    table tr td:not(:last-child) {
        width: calc((100% - 100px) / 10);
    }
}

@media(max-width: 360px) {
    table tr th:first-child,
    table tr th:last-child{
        width: 45px;
    }
    table th, table td {
        font: 10px Arial, sans-serif;
    }
    .slika_celija {
        max-width: 100%;
        height: auto;
    }
}

@media(max-width: 280px) {
    html, #body_igra {
        overflow: auto;
    }

    table {
        table-layout: auto;
        width: max-content;
        min-width: 100%;
    }

    table th, table td {
        min-width: 20px;
        min-height: 35px;
        box-sizing: border-box;
    }

    table tr {
        height: 35px;
    }
}

#body_podesavanja {
    background-color: #0088ff;
}

#podesavanja,
#box_podesavanja,
#box_jezici,
#box_pravila,
#box_objasnjenje,
#box_kontakt {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    gap: 20px;
}

#box_zastave {
    display: grid;
    grid-template-areas:
    "prvo prvo prvo"
    "ostalo1 ostalo2 ostalo3"
    "ostalo4 ostalo5 ostalo6";
    grid-template-columns: repeat(3, 100px);
    justify-content: center;
    justify-items: center;
    gap: 20px 10px;
    margin-bottom: 25px;
}

#box_zastave .button_jezici:first-child {
    grid-area: prvo;
    justify-self: center;
}

#box_zastave .button_jezici:nth-child(2) { grid-area: ostalo1; }
#box_zastave .button_jezici:nth-child(3) { grid-area: ostalo2; }
#box_zastave .button_jezici:nth-child(4) { grid-area: ostalo3; }
#box_zastave .button_jezici:nth-child(5) { grid-area: ostalo4; }
#box_zastave .button_jezici:nth-child(6) { grid-area: ostalo5; }
#box_zastave .button_jezici:nth-child(7) { grid-area: ostalo6; }

.button_jezici {
    padding: 0;
    width: 88px;
    height: 44px;
    border: none;
    border-radius: 10px;
    overflow: hidden;
}

.slika_zastava {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.button_podesavanja,
.button_pravila {
    padding: 10px 0;
    border: none;
    border-radius: 5px;
    font: 20px Courier New, monospace;
    width: 270px;
}

.button_nazad {
    width: 150px;
}

#box_objasnjenje {
    width: 90vw;
}

h2 {
    color: white;
    word-spacing: -10px;
    letter-spacing: 1px;
    font: bold 30px Courier New, monospace;
    text-align: center;
}

.opis,
#tekst_kontakt {
    background-color: white;
    padding: 10px;
    width: 80%;
    max-width: 400px;
    max-height: 70vh;
    overflow: auto;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0 auto;
}

#tekst_kontakt {
    width: 270px;
    height: 150px;
}

.uvuceno {
    display: inline-block;
    padding-left: 2em;
}

.stavka,
.uvuceno {
    display: inline-block;
    margin-bottom: 5px;
}

.zatvori_sliku,
.zatvori {
    position: fixed;
    top: 0.5%;
    left: 91%;
    font-size: 2rem;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.hidden {
    display: none !important;
}

.linkovana_slika {
    color: #0088ff;
    text-decoration: underline;
    cursor: pointer;
}

.class_fullscreen_preklapanje {
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgb(0,0,0,0.9);
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.class_fullscreen_preklapanje img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.velika_slova {
    text-transform: uppercase;
}

.pravila {
    text-transform: lowercase;
}

.pravila::first-letter {
    text-transform: capitalize;
}

.celija_kocke {
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 40px;
    box-sizing: border-box;
}

.kockica {
    flex: 0 0 auto;
    width: 90%;
    height: 90%;
    max-width: 40px;
    max-height: 40px;
    background: white;
    border: 2px solid black;
    border-radius: 6px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    cursor: pointer;
    box-sizing: border-box;
    margin: auto;
}

.kockica.zadrzi {
    background: yellow;
}

.kockica > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tacka {
    width: 40%;
    height: 40%;
    background: black;
    border-radius: 50%;
}

.znak {
    grid-column: 1 / 4;
    grid-row: 1 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.celija_bacanja button {
    flex: 0 0 auto;
    width: 80%;
    height: 80%;
    max-width: 80px;
    max-height: 80px;
    border: none;
    background: #4caf50;
    color: white;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    cursor: pointer;
    box-sizing: border-box;
    margin: auto;
}

.celija_vracanja {
    border: none !important;
}

.celija_vracanja button {
    width: 80%;
    height: 80%;
    max-width: 40px;
    max-height: 40px;
    border: 2px solid black;
    border-radius: 6px;
    background: yellow;
}

.celija_vracanja img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}